body {
    background-image:
    linear-gradient(
        to right,
        rgba(224, 175, 105, 0.8),
        rgb(143, 217, 236)
    )
}
@font-face {
        font-family: game_over;
        src: url('../joystix.ttf')
    }
canvas {
    width: 70%;
    height: 90vh;
    margin: 0vh 14% 0vh 14%;
    border-radius: 25px;
    padding: 0px;
}
.over{
    width: 50%;
    height: 400px;
    background-color: rgba(39, 100, 15, 0.932);
    position: absolute;
    margin: 0px 25% 0px 25%;
    padding: 0px;
    border-radius: 20px;
    transition: 1s;
    top: -600px;
}
.gameover{
    width: 90%;
    margin: 10px 5% 0px 5%;
}
.morto{
    position: absolute;
    width: 28%;
    height: 180px;
}
.relatorio {
    float: right;
    width: 70%;
    margin: 0px 0px 0px 10px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 30px;
}
.relatorio h1{
    font-size: 50px;
    font-family: game_over;
    color: rgba(255, 44, 44, 0.952);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(0,0,0);
    margin: 0px;
}
.overButton {
    font-size: 30px;
    font-family: game_over;
    width: 50%;
    margin: 25px 25% 0px 25%;
    background-color: rgb(254, 150, 3);
    border: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
    padding: 10px;
    color:rgba(255, 255, 255, 0.932);
    float: bottom;
}
.newRecord{
    width: 65%;
    height: 450px;
    background-color: rgba(37, 122, 3, 0.89);
    position: absolute;
    margin: 0px 17% 0px 17%;
    padding: 0px;
    border-radius: 30px;
    transition: 1s;
    top: -600px;

}
.newRecord h1 {
    text-align: center;
    font-size: 60px;
    font-family: game_over;
    color: rgb(31, 129, 153);
    animation: record 2s infinite;
    margin: 20px;
    background-image: 
    linear-gradient(
        to right,
        rgba(30, 253, 0, 0.815),
        rgba(255, 255, 255, 0.918)
    );
    border-radius: 40px;
    padding: 20px;
}
@keyframes record{
    0%{color:rgb(27, 106, 126);opacity: 100%;}
    25%{color:rgb(39, 131, 16);opacity: 100%;}
    50%{color:rgb(192, 48, 35);opacity: 100%;}
    75%{color:rgb(25, 36, 136);opacity: 100%;}
    100%{color:rgb(28, 131, 156);opacity: 100%;}
}
.record {
    width: 220px;
    height: 220px;
    position: absolute;
    margin-left: 20px;
}
.newRecord h2{
    width: 60%;
    text-align: center;
    font-size: 70px;
    font-family: game_over;
    color: rgba(0, 0, 0, 0.808);
    margin: 10px 20% 10px 20%;
    padding: 20px;
    border: 10px solid rgba(0, 0, 0, 0.829);
    border-radius: 50px;
    background-color: rgb(254, 24, 3);
}
.chuva {
    position: absolute;
    font-size: 100px;
    font-family: game_over;
    color: rgb(0, 134, 22);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    list-style: none;
    margin: 5px;
    border: 10px solid rgb(0,0,0,.5);
    background-color: rgb(251, 79, 36);
    padding: 2px;
    border-radius: 20px;
    bottom: -200px;
}
#r01 {
    left: 180px;
}
#r02 {
    left: 380px;
}
#r03 {
    left: 10px;
}
#r04 {
    left: 550px;
}
#r05 {
    left: 700px;
}
#r06 {
    left: 890px;
}
#r07 {
    left: 990px;
}
#r08 {
    left: 1120px;
}
#r09 {
    left: 290px;
}
#r010 {
    left: 800px;
}
@keyframes chuva {
    0% {bottom: -200px; opacity: 100%;}
    100%{bottom: 650px; opacity: 0%;}
}